amarillo = #f1d200
azulFuerte = #175fa0
azul = #278ec3
naranja = #ff7101
rosa = #f50065
verde = #7da400

body
	background azul
	color black
	text-align center
	font-size 16px
	margin-top 0
	padding 0
button
	background amarillo
	border-radius 1em
	font-size 1em
	margin .5em
	padding .5em
	
h1
	color amarillo
	margin 0
	font-size 5em
h2
	color white
	font-size 3.5em
h3
	font-size 2em
#contAzul
	background azul
	border-radius .5em
	margin 5px
#contHead
	background-image url(../img/imgPrincipal.jpg)
	bacground-repeat no-repeat
	background-size 100%
	box-shadow 7px 7px 5px 0 (rbga(50,50,50,0.45))
	margin-bottom 30px
	text-align center
	height 440px
	
	h1
		color amarillo
		
		
	h2
		color azul
		
#info
	background azulFuerte
	padding 1em;
	
	h3
		color white
		text-align center
#imgIzq
	display inline-block
	vertical-align top
	width 50%
#publi
	background white
	border-radius 0 1em 0 1em
	text-align center
	padding 0
	h2
		color rosa
		font-size 4em
#principalSec
	width 80%
	margin auto
#textDere
	display inline-block
	vertical-align top
	width 30%
	h3
		color amarillo
		font-size 1.7em
.contDere
	display inline-block
	text-align center
	vertical-align top
	width 45%
.contIzq
	display inline-block
	text-align center
	vertical-align top
	width 45%